.token-type-wrapper {
    background-color: rgba(0,0,0,.03);
    color: #444;
}
.token-log {
    width: 100%;
    font-size: 12px;
    color: #777;
    border-collapse: collapse;
}
.token-log thead {
    border-bottom: 1px solid #777;
}
.token-log .token-log-time {
    width: 110px;
}
.token-log .token-log-ip {
    width: 60px;
    overflow: hidden;
    max-width: 60px;
}
.token-log .token-log-name {
    overflow: hidden;
}
.token-log .token-log-browser {
    width: 69px;
    text-align: center;
}
.token-log .token-log-post-id {
    width: 200px;
}
.token-log tbody tr:nth-child(odd) {
    background-color: #f1f1f1;
}
.token-log tbody tr:nth-child(even) {
    background-color: #fafafa;
}
.token-log thead tr {
    background-color: #23282d;
    color: #aaa;
}
.token-log tr:nth-child(1) th {
    padding-left: 4px;
    padding-right: 4px;
    font-weight: 400;
}
.token-log th {
    text-align: left;
}
.link {
    cursor: pointer;
    color: #fff;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .15rem;
}
.btn-sm {
    padding: 2px 6px 2px 6px;
    line-height: 1;
    font-size: inherit;
    margin: 1px;
}
.btn-wp {
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799,1px 0 1px #006799,0 1px 1px #006799,-1px 0 1px #006799;
}
.exopite-post-access-tokens-access-list {
    position: relative;
}
.clearfix::after {
    float: none;
    clear: both;
    content: '';
    display: table;
    width: 100%;
}
.token-type {
    padding: 4px 5px;
    float: left;
    color: #444;
}
.token-type:hover,
.token-type:active,
.token-type.current {
    background: #2196F3;
    color: #fff;
}
.token-type-wrapper input {
    border: 1px solid #eee;
    float: right;
    margin: 0;
    box-shadow: inset 0px 0px 0px 0px #fff;
    padding: 2px 5px;
}
.token-type.danger:hover,
.token-type.danger:active {
    background: #ba0000;
    color: #fff;
}
@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.text-right {
  text-align: right !important;
}
